# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/captures/
android/key.properties
*.keystore
*.jks

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# Misc
*.log
*.class
